@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --textColor-VeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    --textColor-SoftRed: hsl(14, 88%, 65%);
    --textColor-VeryDarkGrayishBlue: hsl(237, 12%, 33%);
    --textColor-DarkGrayishBlue: hsl(240, 6%, 50%);
    --bgColor-SoftViolet: hsl(273, 75%, 66%);
    --bgColor-SoftBlue: hsl(240, 73%, 65%);
    --dividerColor-LightGrayishBlue: hsl(240, 5%, 91%);
}

body {
    height: 100vh;
    background-color: var(--bgColor-SoftViolet);
}

.wrapped {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.container {
    justify-self: center;
    background-color: white;
    width: 350px;
    font-size: 12px;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }